<div class="bg-light pt-5 pb-6">
  <div class="container trending-products">
    <!-- Start Heading -->
    <div class="heading heading-flex mb-3">
      <div class="heading-left">
        <h2 class="title">Trending Products</h2>
        <!-- End .title -->
      </div>
    </div>
    <!-- End Heading -->

    <div class="row">
      <!-- Start Banner-->
      <div  class="col-6 col-md-3 col-lg-2">
        <div class="banner">
          <a href="#">
            <img
              src="assets/images/demos/demo-4/banners/banner-4.jpg"
              alt="banner"
            />
          </a>
        </div>
      </div>
      <!-- End Banner -->

      <!-- Start Products -->

      <app-trending-product
        [product]="p"
        *ngFor="let p of products"
        class="col-6 col-md-3 col-lg-2">
      </app-trending-product>

      <!-- End Products -->

      <!-- End .row -->
    </div>
    <!-- End .bg-light pt-5 pb-6 -->
  </div>
</div>
